header {
    background-color: #b7d4fa;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
  text-align: center;
}

.home {
  background-color: #9fc5f8;
}

.default {
  background-color: #9fc5f8;
}

.table td{
  border-color: black;
}

.table tr{
  border-color: black;
}

.thead_light{
  border-color: black!important;
}

.titre_header{
  margin-left: 20px;
}

.image_icone {
  width:70px;
  height:50px;
  margin-right: 10px;
}

.div_mail_mdp_header {
  margin-right: 10px;
  width:100%;
}

.label_mdp_header {
  margin-right: 10px;
}

.mail_label_header {
  margin-right: 10px;
}

.label {
  margin-right: 20px;
}

.d-flex.flex-column.mdp_div_header {
  margin-left: 20px;
  margin-right: 20px;
}

.col-md-6.colonne_description_accueil {
  border-right: 1px;
  border-right: solid;
}

.btn {
  margin-right: 10px;
}

/* Tooltip container */
.tooltipblblbl {
 position: relative;
 display: inline-block;
 border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipblblbl .tooltiptext {
 visibility: hidden;
 display: inline-block;
 width: 500px;
 background-color: #555;
 color: #fff;
 text-align: center;
 padding: 5px 0;
 border-radius: 6px;

 /* Position the tooltip text */
 position: absolute;
 z-index: 1;
 bottom: 125%;
 left: 50%;
 margin-left: -60px;

 /* Fade in tooltip */
 opacity: 0;
 transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltipblblbl .tooltiptext::after {
 content: "";
 position: absolute;
 top: 100%;
 left: 50%;
 margin-left: -5px;
 border-width: 5px;
 border-style: solid;
 border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipblblbl:hover .tooltiptext {
 visibility: visible;
 opacity: 1;
}

.bleuClair {
  background-color: #e6eef8;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

a {
  color:black;
}

.table-green td{
  background-color: #93c47d;
}

.table-striped th{
  background-color: #DCDCDC;
}

.table-striped{
  border-color: black;
}

.table-striped th {
  border-color:black;
}

.table-green>tbody>tr:nth-child(odd)>td,
.table-green>tbody>tr:nth-child(odd)>th {
   background-color: #6aa84f;
}

 .table-bleu>tbody>tr:nth-child(odd)>td,
 .table-bleu>tbody>tr:nth-child(odd)>th {
    background-color: #6fa8dc;
}

.table-orange td {
  background-color: #b6d7a8;
}

.table-orange>tbody>tr:nth-child(odd)>td,
.table-orange>tbody>tr:nth-child(odd)>th {
   background-color: #f6b26b;
}

.card {
  border-radius: 20px;
}

div.message {
  text-align: center;
  cursor: pointer;
  display: block;
  font-weight: normal;
  padding: 0 1.5rem 0 1.5rem;
  transition: height 300ms ease-out 0s;
  background-color: rgba(110, 198, 235, 0.5);
  color: black;
  top: 15px;
  right: 15px;
  z-index: 999;
  overflow: hidden;
  height: 50px;
  line-height: 2.5em;
}

div.message:before {
  line-height: 0px;
  font-size: 20px;
  height: 12px;
  width: 12px;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  left: -11px;
  background-color: #FFF;
  padding: 12px 14px 12px 10px;
  content: "i";
  color: black;
}

div.message.error {
  background-color: rgba(255, 0, 0, 0.5);
}

div.message.success {
  background-color: rgba(0, 255, 0, 0.5);
}

div.message.warning {
  background-color: rgba(243, 146, 107, 1);
}

div.message.hidden {
  height: 0;
}

.boutonValider {
  background-color: #b6d7a8;
  margin-right: 150px;
}

.grosBouton {
  width:250px;
  height:60px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}

.boutonVert {
  color: black;
  border: none;
  background-color: #b6d7a8;
}

.boutonVert:hover{
  background-color: #a3c197;
}

#pMembres:hover{
  background-color: red;
}

.selected {
    background-color: brown;
    color: #FFF;
}

.image_icone_header {
  width:90px;
  height:90px;
}

.color-card {
  background-color: #b7d4fa;
  border-radius: 20px;
}

.rond-croix {
  border-radius: 500px;
  width:60px;
  height:60px;
  background-image: url(../img/icones/add.png);
  background-size: contain;
}


.test a:hover{
  text-decoration: none;
  color: inherit;
}

.bell  {
  background-image: url(../img/icones/bell.png);
  background-size: contain;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.user  {
  background: url('../img/icones/user.png') no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

.logout  {
  background: url('../img/icones/exit.png') no-repeat;
  margin-left: 20px;
  background-size: contain;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.form-addTache textarea, .form-addTache input[type=text], .form-addTache input[type=email], .form-addTache input[type=password] {
  width: 100%;
}

.titre_header_rouge {
  color:red;
  margin-left: 20px;
}

.notification {
  position: relative;
  display: block;
}

.badge {
  position: absolute;
  right: -12px;
  top: -35px!important;
  border-radius: 50%;
  background: red;
  color: white;
}
