header {
    background-color: #b7d4fa;
    padding-top: 5px;
    padding-bottom: 5px;
}

.home {
  background-color: #9fc5f8;
}

.default {
  background-color: #9fc5f8;
}

.table td{
  border-color: black;
}

.table tr{
  border-color: black;
}

.thead_light{
  border-color: black!important;
}

.titre_header{
  margin-left: 20px;
}

.image_icone {
  width:90px;
  height:90px;
}

.div_mail_mdp_header {
  margin-right: 10px;
  width:100%;
}

.label_mdp_header {
  margin-right: 10px;
}

.mail_label_header {
  margin-right: 10px;
}

.d-flex.flex-column.mdp_div_header {
  margin-left: 20px;
  margin-right: 20px;
}

.col-md-6.colonne_description_accueil {
  border-right: 1px;
  border-right: solid;
}

.btn {
  margin-right: 10px;
}

.label {
  margin-left: 10px;
}

.bleuClair {
  background-color: #e6eef8;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
